@import "src/styles/variables";

.job {
  position: relative;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 12px;
  transition: background-color $trans, box-shadow $trans;
  cursor: pointer;
  z-index: 2;

  &:hover {
    box-shadow: 4px 4px 4px rgba(169, 157, 146, 0.25);
    background-color: #f6f6f6;

    .job-link {
      opacity: 1;
    }
  }

  &.details {
    cursor: auto;
    box-shadow: none;
    background-color: #FFFFFF;
  }

  .job-desc {
    flex-grow: 1;
    padding-right: 20px;
  }

  .job-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
  }

  .flex-container {
    &.info {
      margin: 5px 0;
    }
  }

  .location,
  .company,
  .pusblished {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
  }

  .pusblished {
    white-space: nowrap;
  }

  .location-icon {
    width: 10px;
    height: 10px;
  }

  .company-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .preview-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .job-link {
    text-decoration: none;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    color: $light-blue;
    transition: color $trans-fast, opacity $trans-fast;

    &:hover {
      color: $primary;
    }
  }
}
