@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

$black: #333;

$primary: #FA6900;
$dark-blue: #252D3A;
$light-grey: #F0F1F6;

$trans: .3s cubic-bezier(.25,.1,.25,1);
$trans-semi-slow: .45s cubic-bezier(.25,.1,.25,1);

$font-family: 'Montserrat', sans-serif;
